.css-10fw84t{
    display: none;
}
.css-1c0vgz7-MuiPaper-root-MuiMenu-paper-MuiPopover-paper{
    overflow-y: hidden !important;
}
.css-uxmwjc-MuiPaper-root-MuiAlert-root{
   background-color: green !important;
}
